In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [15]:
clinical_data = pd.read_csv('Data/clinicaltrial_data.csv')
clinical_data.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [16]:
mouse_data = pd.read_csv('Data/mouse_drug_data.csv')
mouse_data.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn